.login-container {
    background-image: url('https://res.cloudinary.com/dynzklhmr/image/upload/v1683498581/bg_rbd18b.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }